* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
		height: 100%;
}

body {
	width: 100%;
	height: 100%;
	background-color: rgb(153, 145, 145);
}

#root {
	width: 100%;
	height: 100%;
	padding: 0px 20px;
}

.app {
	height: 100%;
	max-width: 800px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form {
	text-align: center;
	padding: 20px;
	width: 100%;
	min-height: 90vh;
	background-color: #fff;
	border-radius: 10px;
	background: url('../img/train-logo.png') #fff 5px 5px no-repeat;
	background-size: 180px;
}

.date-input {
	width: 20px;
}

.output-body {
	padding: 20px 0px;
}

.output-title {
	margin: 5px 0px 5px 0px;
}

.output-train {
	margin: 0px 0px 10px 0px;
}

.cities-row {
  display: flex;
	justify-content:space-evenly;
}

.finish-data {
	margin: 0px 0px 20px 0px;
}

.search-panel {
	margin: 20px 0px 20px 0px;
}

.sort-panel {
	margin: 0px 0px 20px 0px;
}

.trais-output {
	padding: 6px;
	border: 1px solid teal;
	height: 360px;
	overflow-y: auto;
}
.train-card {
	padding: 10px;
	border: 1px solid black;
	margin: 0px 0px 6px 0px;
}
.start-data {
	margin: 0px 0px 10px 0px;
}
.start-data p, .finish-data p {
		display: inline;
		margin: 0px 10px 0px 0px;
	}
@media (max-width: 600px) {
	.form {
		padding: 10px;
		height: 100%;
		background: url('../img/train-logo.png') #fff 0px 20px no-repeat;
		background-size: 80px;
	}

	#root {
		padding: 10px 10px;
	}

	.start-data p, .finish-data p {
		display: block;
		margin: 0px 0px 4px 0px;
	}
}
