* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	min-height: 100vh;
	background-color: rgb(153, 145, 145);
}

#root {
	width: 100%;
	height: 100vh;
	padding: 0px 20px;
}

.app {
	height: 100%;
	max-width: 600px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form {
	text-align: center;
	padding: 20px;
	width: 100%;
	min-height: 80vh;
	background-color: #fff;
	border-radius: 10px;
	background: url('../img/train-logo.png') #fff 5px 5px no-repeat;
	background-size: 180px;
}

.date-input {
	width: 20px;
}

.output-body {
	padding: 20px 0px;
}

.output-title {
	margin: 5px 0px 5px 0px;
}

.output-train {
	margin: 0px 0px 10px 0px;
}

@media (max-width: 600px) {
	.form {
		padding: 10px;
		height: 100%;
		background: url('../img/train-logo.png') #fff 0px 20px no-repeat;
		background-size: 80px;
	}

	#root {
		padding: 10px 10px;
	}
}
